<form [formGroup]="roleForm" (ngSubmit)="onSubmit()"
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold">Role</h6>
      <button
        class="bg-red-600 active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="submit"
        [disabled]="roleForm.invalid"
        [ngClass]="roleForm.invalid ? 'text-gray': 'text-white'"
      >
        Update
      </button>
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0" *ngIf="role">
    <div>
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Role Information
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            >
              Name
            </label>
            <input
              id="name" name="name" formControlName="name"
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value="{{role.name}}"
            />
            <div class="text-red-600">
              <span *ngIf="roleForm.get('name').hasError('required')">* Name is required</span>
            </div>
            <div class="text-red-600">
              <span *ngIf="roleForm.get('name').hasError('pattern')">* Name is uppercase</span>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-6 border-b-1 border-blueGray-300" />

      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Advance Information
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            >
              Redirect uris
            </label>
            <input
              id="description" name="description" formControlName="description"
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value="{{role.description}}"
            />
            <div class="text-red-600">
              <span *ngIf="roleForm.get('description').hasError('required')">* Name is required</span>
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-6 border-b-1 border-blueGray-300" />

      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Permission
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
            >
              Scopes
            </label>
            <ng-select
              [items]="scopes"
              bindLabel="description"
              bindValue="scope"
              groupBy="children"
              [multiple]="true"
              [(ngModel)]="selectedScopes"
              [ngModelOptions]="{standalone: true}"
            >
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.label}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{item.description}}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
