{% extends "base.html" %}
{% block content %}
  {% include 'pages/index/navbar.html' %}
  <section
  class="header relative pt-16 items-center flex h-screen max-h-860-px"
>
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Greenwich Application Ecosystem
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          A beautiful dashboard for student of University of Greenwich
        </p>
        <div class="mt-12">
          {% if not request.user.is_authenticated %}
          <a
            href="{% url 'account_login' %}"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-pink-500 active:bg-pink-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Login
          </a>
          {% endif %}
          <a
            href="{% url 'admin:index' %}"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Admin Site
          </a>
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="../../static/images/img/ill_header_3.png"
    alt="..."
  />
</section>
{% include 'pages/index/footer.html' %}

{% endblock %}
