<button
  class="bg-lightBlue-500 flex ml-auto active:bg-red-700 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
  type="button"
  (click)="toggleModal()"
>
  Create
</button>
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Create application
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
        <div class="relative p-6 flex-auto">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                >
                  Name
                </label>
                <input
                  id="name" name="name" formControlName="name"
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
                <div class="text-red-600">
                  <span *ngIf="applicationForm.get('name').hasError('required')">* Name is required</span>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                >
                  Authorization grant type
                </label>
                <select
                  class="px-2 py-2 rounded-full"
                  (change)="changeGrantType($event)"
                  id="authorization_grant_type" name="authorization_grant_type" formControlName="authorization_grant_type"
                >
                  <option value="{{defaultGrantType}}">{{defaultGrantType}}</option>
                  <option *ngFor="let grantType of grantTypes" [ngValue]="grantType">
                    {{ grantType }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                >
                  Redirect uris
                </label>
                <input
                  id="redirect_uris" name="redirect_uris" formControlName="redirect_uris"
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
                <div class="text-red-600">
                  <span *ngIf="applicationForm.get('redirect_uris').hasError('required')">* Name is required</span>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                >
                  Client type
                </label>
                <select
                  formControlName="client_type"
                  class="px-2 py-2 rounded-full"
                  (change)="changeClientType($event)"
                >
                  <option value="{{defaultClientType}}">{{defaultClientType}}</option>
                  <option *ngFor="let clientType of clientTypes" [ngValue]="clientType">
                    {{ clientType }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
            Close
          </button>
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
            Save Changes
          </button>
        </div>
      </form>
      <!--body-->
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
