<div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
      <span class="text-xl inline-block mr-5 align-middle">
        <i class="fas fa-bell"></i>
      </span>
  <span class="inline-block align-middle mr-8">
        <b class="capitalize">{{ alert.type[alert.id] }}</b> &nbsp; &nbsp; &nbsp; {{ alert.message }}
      </span>
  <button class="absolute bg-transparent text-2xl font-semibold leading-none right-3.5 top-0 mt-4 mr-6 outline-none focus:outline-none">
    <span (click)="removeAlert(alert)">&times;</span>
  </button>
</div>
